<div #cloneScreenForm="ngForm" ngForm>
  <div class="modal-header">
    <h4 class="modal-title">Duplicate Screen</h4>
  </div>
  <div class="modal-body">
    <p>You can duplicate from an existing screen</p>
    <p>It is important to verify the duplicated screen is correctly set.</p>
    <div class="form">
      <div class="form-group mb-3">
        <label class="form-label">Select App</label>
        <select class="form-select" name="appId" (change)="loadCloneScreenList(_cloneScreenData.appId)"
          [(ngModel)]="_cloneScreenData.appId">
          @for (app of cloneAppList(); track app.id) {
            <option [ngValue]="app.id">{{app.title}}</option>
          }
        </select>
      </div>
      @if (_cloneScreenData.appId) {
        <div class="form-group mb-3">
          <label class="form-label">Select Screen *</label>
          <select class="form-select" name="screenId" [(ngModel)]="_cloneScreenData.screenId"
            required>
            @for (screen of cloneScreenList(); track screen.id) {
              <option [ngValue]="screen.id">{{screen.title}} [{{screen.id}}]
              </option>
            }
          </select>
        </div>
      }
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-round" (click)="dismiss()()">Close</button>
    <button type="button" class="btn btn-round btn-primary" (click)="done(_cloneScreenData)"
      [disabled]="cloneScreenForm.invalid">
      Start Duplicate Screen
    </button>
  </div>
</div>