<div class="d-flex flex-row bg-white position-relative shadow-sm" style="height:48px;z-index:1">
  @if (loading()){
    <div class="header-colors"></div>
  }
  <a class="bar-link text-dark" routerLink="/design" title="Back to Home Page" routerLinkActive="active">
    <fa-icon [icon]="['fas','th-large']" [fixedWidth]="true"></fa-icon>
  </a>
  @if (app?.id) {
    @if (authorized){
      <div class="py-2 d-none d-sm-flex align-items-center me-2" style="width:240px;">
        <input type="search" id="g-search" name="g-search" class="p-1 px-3 bg-light border-0 w-100 form-control-sm" (focus)="setFuseSearch()" #searchInput
          [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter"
          (selectItem)="selectItem($event)" placeholder="Search components" list="searchresult">
      </div>
      <ng-template #rt let-r="result" let-t="term">
        <fa-icon [icon]="r.icon" class="ms-n2 me-2" [fixedWidth]="true"></fa-icon>
        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
      </ng-template>
      <div class="me-auto d-flex align-items-center text-truncate py-3" style="font-size:1.1em">
        @if (app?.logo) {
          <img src="{{baseApi}}/app/logo/{{app?.logo}}" alt="Logo"
            onError="this.src='assets/icons/logo.svg'" width="30" height="30" class="me-2">
        }
        {{app?.title}}
      </div>
      <div class="p-1 d-flex align-items-center">
        <div class="d-flex align-items-center" style="white-space:nowrap">
          <a type="button" class="btn btn-round btn-light ms-1" routerLink="/design/{{app?.id}}/summary" routerLinkActive="active">
            <fa-icon [icon]="['fas','chart-bar']" [fixedWidth]="true"></fa-icon>
          </a>
          <button type="button" class="btn btn-round btn-light ms-1" (click)="popShare(app?.id)">
            <fa-icon [icon]="['fas','share-alt']" [fixedWidth]="true"></fa-icon>
          </button>
          <button type="button" class="btn btn-round btn-light ms-1" (click)="editApp(appEditTpl, app)">
            <fa-icon [icon]="['fas','cog']" [fixedWidth]="true"></fa-icon>
          </button>
          <button type="button" class="btn btn-round btn-success ms-1 px-2" (click)="runApp()">
            <fa-icon [icon]="['fas','play']" [fixedWidth]="true"></fa-icon>
            Run
          </button>
        </div>
      </div>
    }
  }
</div>

@if (app?.id) {
  @if (authorized){
    <div class="sb">
      <div class="bar bg-reka" [ngClass]="bgClassName">
        <div class="bar-1">
          <a class="bar-link" routerLink="ui" routerLinkActive="active">
            <fa-icon [icon]="['fas', 'quidditch']" [fixedWidth]="true"></fa-icon>
          </a>
          <a class="bar-link" routerLink="lookup" routerLinkActive="active">
            <fa-icon [icon]="['far', 'caret-square-down']" [fixedWidth]="true"></fa-icon>
          </a>
          <a class="bar-link" routerLink="mailer" routerLinkActive="active">
            <fa-icon [icon]="['fas', 'mail-bulk']" [fixedWidth]="true"></fa-icon>
          </a>
          <a class="bar-link" routerLink="endpoint" routerLinkActive="active">
            <fa-icon [icon]="['fas', 'link']" [fixedWidth]="true"></fa-icon>
          </a>
          <a class="bar-link" routerLink="user" routerLinkActive="active">
            <fa-icon [icon]="['fas', 'users-cog']" [fixedWidth]="true"></fa-icon>
          </a>
          <a class="bar-link" routerLink="bucket" routerLinkActive="active">
            <fa-icon [icon]="['fas', 'box']" [fixedWidth]="true"></fa-icon>
          </a>
          <a class="bar-link" routerLink="lambda" routerLinkActive="active">
            <fa-icon [icon]="['fas', 'rocket']" [fixedWidth]="true"></fa-icon>
          </a>
          <a class="bar-link" routerLink="cogna" routerLinkActive="active">
            <fa-icon [icon]="['fas', 'robot']" [fixedWidth]="true"></fa-icon>
          </a>
          <!-- <a class="bar-link" routerLink="jalin" routerLinkActive="active">
            <fa-icon [icon]="['fas', 'hexagon-nodes']" [fixedWidth]="true"></fa-icon>
          </a> -->
          <a class="bar-link" routerLink="krypta" routerLinkActive="active">
            <fa-icon [icon]="['fas', 'hashtag']" [fixedWidth]="true"></fa-icon>
          </a>
        </div>
      </div>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  } @else {
    <div class="p-3 text-center text-muted"><h4>You are not authorized to access <strong>{{app?.title}}</strong> app design</h4></div>
  }
} @else {
  @if (!loading) {
    <div class="p-3 text-center text-muted"><h4>No app found with ID: {{appId}}</h4></div>
  }
}

<ng-template #appEditTpl let-d="dismiss" let-c="close">
  @defer(prefetch on idle){
    <app-app-edit [(data)]="editAppData" [offline]="offline" [user]="user"
    [dismiss]="d" [close]="c"></app-app-edit>
  }@loading {
    <div class="text-center m-5">
      <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  }
</ng-template>
