<div class="modal-header">
  <h4 class="modal-title">Add Mailer</h4>
</div>
<div class="modal-body fix-gutter" #mailerEditForm="ngForm" ngForm>
  <div class="form-group mb-3">
    <label class="form-label">Mailer Name *</label>
    <input type="text" class="form-control" [(ngModel)]="_editMailerData.name" #name="ngModel"
      name="name" required>
      @if (name?.invalid) {
        <small class="form-text has-warning">
          @if (name?.errors?.required) {
            <span class="help-block">Name is required</span>
          }
        </small>
      }
    </div>
    <div class="form-group mb-3">
      <label class="form-label">Subject *</label>
      <input type="text" class="form-control" [(ngModel)]="_editMailerData.subject"
        #subject="ngModel" name="subject" required>
      @if (subject?.invalid) {
        <small class="form-text has-warning">
          @if (subject?.errors?.required) {
            <span class="help-block">Subject is required</span>
          }
        </small>
      }
    </div>
    <div class="form-group mb-3">
      <label class="form-label">Content (support HTML) *</label>
      <select class="form-control float-end form-control-sm" style="max-width:100px;" name="form" #cForm
        (change)="loadForm(selectedFormHint.id)" [(ngModel)]="selectedFormHint">
        <option [ngValue]="null">No hint</option>
        @for (form of formList(); track form.id) {
          <option [ngValue]="form">{{form.title}}</option>
        }
      </select>
      <div class="mt-1 var-ph-picker">
        @if (selectedFormHint) {
          @for (k of editHolderForm?.data?.items|keyvalue; track $index) {
            @if (editHolderForm?.data?.items[k.key].type!='static') {
              <button type="button" class="btn btn-sm small mb-1 me-1 p-1 py-0 btn-outline-secondary"
              (click)="insertTextAtCursor(getItemText('$',k.value),codeeditor)">{{k.value.label}}</button>
            }
          }
          @if (editHolderForm?.prev) {
            @for (k of editHolderForm?.prev?.items|keyvalue; track $index) {
              @if (editHolderForm?.prev?.items[k.key].type!='static') {
                <button type="button" class="btn btn-sm small mb-1 me-1 p-1 py-0 btn-outline-secondary"
                (click)="insertTextAtCursor(getItemText('$prev$',k.value),codeeditor)">{{k.value.label}}</button>
              }
            }
          }
        }
      </div>
      <div class="mx-n2">
        <app-cm content="content" lang="html" #codeeditor #content="ngModel"
          name="content"
          [extraAutoComplete]="extraAutoCompleteHtml" subType="mailer" [(ngModel)]="_editMailerData.content"
          [linenumber]="true">
        </app-cm>
      </div>
      @if (content?.invalid) {
        <small class="form-text has-warning">
          @if (content?.errors?.required) {
            <span class="help-block">Content is required</span>
          }
        </small>
      }
    </div>
    <div class="form-group mb-3">
      <label class="form-label">Status *</label>
      <div>
        <div class="btn-group btn-group-toggle">
          <input type="radio" class="btn-check" [value]="1" id="enabled1" name="enabled1" #enabled="ngModel"
            [(ngModel)]="_editMailerData.enabled" [required]="true">
          <label for="enabled1" class="btn btn-sm btn-success">
            <fa-icon [icon]="['far',_editMailerData?.enabled==1?'check-square':'square']"
            [fixedWidth]="true"></fa-icon>
            Enabled
          </label>
          <input type="radio" class="btn-check" [value]="0" id="enabled0" name="enabled0" #enabled="ngModel"
            [(ngModel)]="_editMailerData.enabled" [required]="true">
          <label for="enabled0" class="btn btn-sm btn-danger">
            <fa-icon [icon]="['far',_editMailerData?.enabled==1?'square':'check-square']"
            [fixedWidth]="true"></fa-icon>
            Disabled
          </label>
        </div>
        @if (enabled?.invalid) {
          <small class="form-text has-warning">
            @if (enabled.errors?.required) {
              <span class="help-block">Status is required</span>
            }
          </small>
        }
      </div>
    </div>
    <div class="form-group form-check">
      <input class="form-check-input" type="checkbox" [(ngModel)]="_editMailerData.pickable" 
        id="pickable" name="pickable">
      <label class="form-check-label" for="pickable">
        Show this template in dataset mail blast options
        <div class="small">This will allow this mailer template to be picked for email blasting</div>
      </label>
    </div>
    <div class="form-group form-check mb-3">
      <input class="form-check-input" type="checkbox" [(ngModel)]="_editMailerData.log" 
        id="log" name="log">
      <label class="form-check-label" for="log">
        Keep mailing history
        <div class="small">This will log all mailing activities using this template </div>
      </label>
    </div>
    <div class="form-group mb-3">
      <label class="form-label">Recipient</label>
      <div>
        <div style="display:inline-block; width:40px;">To:</div>
        <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input"
            [(ngModel)]="_editMailerData.toUser" name="toUser" id="toUser">
          <label for="toUser" class="form-check-label">User</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input"
            [(ngModel)]="_editMailerData.toApprover" name="toApprover" id="toApprover">
          <label for="toApprover" class="form-check-label">Approver</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input"
            [(ngModel)]="_editMailerData.toAdmin" name="toAdmin" id="toAdmin">
          <label for="toAdmin" class="form-check-label">Admin</label>
        </div>
      </div>
    </div>
    <div class="form-group mb-3" style="margin-left:40px;">
      <label class="form-label">Extra To (comma-separated)</label>
      <input type="text" class="form-control" [(ngModel)]="_editMailerData.toExtra" 
        placeholder="ie: razif@email.com,{{ '{'+'{$.extra_to}'+'}' }}" #toExtra="ngModel" name="toExtra">
    </div>
    <div class="form-group mb-3">
      <div>
        <div style="display:inline-block; width:40px;">CC:</div>
        <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input"
            [(ngModel)]="_editMailerData.ccUser" name="ccUser" id="ccUser">
          <label for="ccUser" class="form-check-label">User</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input"
            [(ngModel)]="_editMailerData.ccApprover" name="ccApprover" id="ccApprover">
          <label for="ccApprover" class="form-check-label">Approver</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input"
            [(ngModel)]="_editMailerData.ccAdmin" name="ccAdmin" id="ccAdmin">
          <label for="ccAdmin" class="form-check-label">Admin</label>
        </div>
      </div>
    </div>
    <div class="form-group mb-3" style="margin-left:40px;">
      <label class="form-label">Extra CC (comma-separated)</label>
      <input type="text" class="form-control" [(ngModel)]="_editMailerData.ccExtra"
        placeholder="ie: razif@email.com,{{ '{'+'{$.extra_cc}'+'}' }}" #ccExtra="ngModel" name="ccExtra">
    </div>
    <div class="form-group mb-3">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="pushable" [(ngModel)]="_editMailerData.pushable"
          name="pushable">
        <label class="form-check-label" for="pushable">Attempt to use Push Notification (if the recipient
        subscribed)</label>
      </div>
    </div>
    @if (_editMailerData.pushable) {
      <div class="form-group mb-3">
        <label class="form-label">URL to navigate when click on notification (optional)</label>
        <input type="text" class="form-control" [(ngModel)]="_editMailerData.pushUrl" 
          name="pushUrl" placeholder="ie: {{ '{'+'{$viewUri$}'+'}' }}">
      </div>
    }
  </div>
  <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-round btn-secondary" (click)="onDismiss()">Close</button>
    <button type="button" class="btn btn-round btn-primary" [disabled]="mailerEditForm.invalid"
      (click)="onClose()">
    <fa-icon [icon]="['fas','plus']" [fixedWidth]="true"></fa-icon>
    Save Mailer
  </button>
</div>