<input type="text" class="w-100 form-control my-2" [(ngModel)]="filterField" name="filterField"
  placeholder="Type to filter fields">

@for (fm of ['data','prev']; track fm) {
  @if (formHolder()[fm]) {
    <div class="form-group mb-3">
      <label class="form-label">Included Filters ({{formHolder()[fm].title}})</label>
      
      @for (sec of sectionItems()[fm]; track $index) {
        @for (f of sec.items | filter:filterField; track $index) {
          @let field = formHolder()[fm].items[f.code];
          @let prefixedField = getPrefix(fm, sec.section) + '.' + f.code;
          
          @if (field && !excludedTypes.includes(field.type)) {
            <div class="form-check">
              
              <input type="checkbox" class="form-check-input" id="filter{{f.code}}{{fm}}" [value]="f.code"
                (click)="toggleItem(field, fm, formHolder()[fm].id, sec.section.type, getPrefix(fm, sec.section))"
                [checked]="checkItem(field, fm)">
              <label class="form-check-label" for="filter{{f.code}}{{fm}}" [class.fst-italic]="sec.section.id == -1">
                <span class="text-muted">{{sec.section.title}} - </span>{{field.label}}
              </label>

              @let allowDynamic = !noDynamicTypes.includes(field.type);
              @let dynKey = 'dynamic.' + f.code + '.code';
              @let isDynamic = presetFilters()[dynKey];
              @let bindPath = getBindingPath(field, prefixedField);

              @if (allowDynamic) {
                <div class="float-end">
                  <input type="checkbox" class="form-check-input" id="filter{{f.code}}{{fm}}-dyn"
                    [(ngModel)]="presetFilters()[dynKey]" name="dynamic-{{f.code}}">
                  <label class="form-check-label" for="filter{{f.code}}{{fm}}-dyn">Dynamic</label>
                </div>
              }

              <div class="input-group input-group-sm mb-2">
                <label class="input-group-text" for="{{prefixedField}}">Preset</label>

                @if (allowDynamic && isDynamic) {
                  @if (field.type === 'date') {
                    <input class="form-control" type="text" name="{{prefixedField}}~from"
                      [(ngModel)]="presetFilters()[prefixedField + '~from']" placeholder="ie: {{'{'}}{{'{'}}todayStart{{'}'}}{{'}'}}" />
                    <input class="form-control" type="text" name="{{prefixedField}}~to"
                      [(ngModel)]="presetFilters()[prefixedField + '~to']" placeholder="ie: {{'{'}}{{'{'}}todayEnd{{'}'}}{{'}'}}" />
                  } @else {
                    <input class="form-control" type="text" name="{{prefixedField}}"
                      [(ngModel)]="presetFilters()[bindPath]" placeholder="ie: {{'{'}}{{'{'}}$user$.email{{'}'}}{{'}'}}">
                  }
                } 
                @else {
                  @switch(field.type) {
                    
                    @case('text') {
                      <input class="form-control" type="text" name="{{prefixedField}}" [(ngModel)]="presetFilters()[bindPath]" />
                    }
                    @case('textarea') {
                      <input class="form-control" type="text" name="{{prefixedField}}" [(ngModel)]="presetFilters()[bindPath]" />
                    }
                    @case('eval') {
                      <input class="form-control" type="text" name="{{prefixedField}}" [(ngModel)]="presetFilters()[bindPath]" />
                    }
                    @case('qr') {
                      <input class="form-control" type="text" name="{{prefixedField}}" [(ngModel)]="presetFilters()[bindPath]" />
                    }
                    
                    @case('simpleOption') {
                      <select class="form-select" name="{{prefixedField}}" [(ngModel)]="presetFilters()[bindPath]">
                        <option value="" disabled></option>
                        @for (item of getAsList(field.options); track $index) {
                          <option [value]="item">{{item}}</option>
                        }
                      </select>
                    }

                    @case('select') {
                      <select class="form-select" #optionInput name="{{prefixedField}}" (focus)="hasFocus[f.code]=true" [(ngModel)]="presetFilters()[bindPath]">
                        <option value="" disabled>{{optionInput.value}}</option>
                        @if (hasFocus[f.code] || !!optionInput.value) {
                          @for (item of lookup()[f.code]; track $index) {
                            <option [value]="item.code">{{item.name}}</option>
                          }
                        }
                      </select>
                    }
                    @case('radio') {
                      <select class="form-select" #optionInput name="{{prefixedField}}" (focus)="hasFocus[f.code]=true" [(ngModel)]="presetFilters()[bindPath]">
                        <option value="" disabled>{{optionInput.value}}</option>
                        @if (hasFocus[f.code] || !!optionInput.value) {
                          @for (item of lookup()[f.code]; track $index) {
                            <option [value]="item.code">{{item.name}}</option>
                          }
                        }
                      </select>
                    }

                    @case('checkboxOption') {
                      <select class="form-select" #optionInput name="{{prefixedField}}" (focus)="hasFocus[f.code]=true" [(ngModel)]="presetFilters()[bindPath]">
                        <option value="" disabled></option>
                        @if (hasFocus[f.code] || !!optionInput.value) {
                          @for (item of lookup()[f.code]; track $index) {
                            <option [value]="item.code">{{item.name}}</option>
                          }
                        }
                      </select>
                    }

                    @case('modelPicker') {
                      <select class="form-select" #optionInput name="{{prefixedField}}" (focus)="hasFocus[f.code]=true" [(ngModel)]="presetFilters()[bindPath]">
                        <option value="" disabled></option>
                        @if (hasFocus[f.code] || !!optionInput?.value) {
                          @for (item of lookup()[f.code]; track $index) {
                            <option [ngValue]="item[field.bindLabel]">{{item[field.bindLabel]}}</option>
                          }
                        }
                      </select>
                    }

                    @case('checkbox') {
                      <select class="form-select" name="{{prefixedField}}" [(ngModel)]="presetFilters()[bindPath]">
                        <option value="" disabled></option>
                        <option [value]="true">Yes</option>
                        <option [value]="false">No</option>
                      </select>
                    }

                    @case('date') {
                      <input class="form-control" type="text" name="{{prefixedField}}~from"
                        [(ngModel)]="presetFilters()[prefixedField+'~from']" placeholder="From" (click)="dfrom.toggle()" ngbDatepicker #dfrom="ngbDatepicker" />
                      <input class="form-control" type="text" name="{{prefixedField}}~to"
                        [(ngModel)]="presetFilters()[prefixedField+'~to']" placeholder="To" (click)="dto.toggle()" ngbDatepicker #dto="ngbDatepicker" />
                    }

                    @default {
                      @if (['scaleTo5', 'scaleTo10', 'scale', 'number'].includes(field.type)) {
                        <input class="form-control" type="number" name="{{prefixedField}}~from"
                          [(ngModel)]="presetFilters()[prefixedField+'~from']" placeholder="From" />
                        <input class="form-control" type="number" name="{{prefixedField}}~to"
                          [(ngModel)]="presetFilters()[prefixedField+'~to']" placeholder="To" />
                      }
                    }
                  }
                }

                <button type="button" class="btn btn-secondary" (click)="clearPreset(getClearKeys(field, prefixedField))">
                  <fa-icon [icon]="['fas','trash']" [fixedWidth]="true"></fa-icon>
                </button>

              </div>
            </div>
          }
        }
      }
    </div>
  }
}