<div class="p-3">

    <h5 class="mb-3">App Log &#10095; {{ app?.title }}</h5> 

    <div>
        <div class="row g-2">
            <div class="col">
                <input type="text" placeholder="Search logs..." [(ngModel)]="params.searchText"
                    (keyup.enter)="loadLogs()" class="form-control" />
            </div>
            <div class="col">
                <select class="form-select form-select" [(ngModel)]="params.module" (change)="loadLogs()">
                    <option [ngValue]="undefined">All Modules</option>
                    @for (mod of modules; track $index) {
                        <option [value]="mod.code">{{ mod.name }}</option>
                    }
                </select>
            </div>
            @if (params.module){
                <div class="col">
                    @if (params.module == 'lambda'){
                    
                        <select class="form-select form-select" [(ngModel)]="params.moduleId" (change)="loadLogs()">
                            <option [ngValue]="undefined">Any Lambda</option>
                            @for (mod of lambdaList; track $index) {
                                <option [value]="mod.id">{{ mod.name }}</option>
                            }
                        </select>
                    }
                    @if (params.module == 'endpoint'){
                        <select class="form-select form-select" [(ngModel)]="params.moduleId" (change)="loadLogs()">
                            <option [ngValue]="undefined">Any Endpoint</option>
                            @for (mod of endpointList; track $index) {
                                <option [value]="mod.id">{{ mod.name }}</option>
                            }
                        </select>
                    }
                    @if (params.module == 'cogna'){
                        <select class="form-select form-select" [(ngModel)]="params.moduleId" (change)="loadLogs()">
                            <option [ngValue]="undefined">Any Cogna</option>
                            @for (mod of cognaList; track $index) {
                                <option [value]="mod.id">{{ mod.name }}</option>
                            }
                        </select>
                    }
                    @if (params.module == 'form'){
                        <select class="form-select form-select" [(ngModel)]="params.moduleId" (change)="loadLogs()">
                            <option [ngValue]="undefined">Any Form</option>
                            @for (mod of formList; track $index) {
                                <option [value]="mod.id">{{ mod.title }}</option>
                            }
                        </select>
                    }
                    @if (params.module == 'dataset'){
                        <select class="form-select form-select" [(ngModel)]="params.moduleId" (change)="loadLogs()">
                            <option [ngValue]="undefined">Any Dataset</option>
                            @for (mod of datasetList; track $index) {
                                <option [value]="mod.id">{{ mod.title }}</option>
                            }
                        </select>
                    }
                    @if (params.module == 'mailer'){
                        <select class="form-select form-select" [(ngModel)]="params.moduleId" (change)="loadLogs()">
                            <option [ngValue]="undefined">Any Mailer</option>
                            @for (mod of mailerList; track $index) {
                                <option [value]="mod.id">{{ mod.name }}</option>
                            }
                        </select>
                    }
                    @if (params.module == 'krypta'){
                        <select class="form-select form-select" [(ngModel)]="params.moduleId" (change)="loadLogs()">
                            <option [ngValue]="undefined">Any Krypta</option>
                            @for (mod of kryptaList; track $index) {
                                <option [value]="mod.id">{{ mod.name }}</option>
                            }
                        </select>
                    }
                    
                </div>
            }
            <div class="col">
                <div class="input-group">
                    <input class="form-control" type="text" name="trailFrom" [(ngModel)]="params.dateFrom"
                        placeholder="From" (ngModelChange)="loadLogs()"
                        (click)="dtrailfrom.toggle()" ngbDatepicker #dtrailfrom="ngbDatepicker">
                    <input class="form-control" type="text" name="trailTo" [(ngModel)]="params.dateTo" placeholder="To"
                        (ngModelChange)="loadLogs()" (click)="dtrailto.toggle()"
                        ngbDatepicker #dtrailto="ngbDatepicker">
                </div>

            </div>
            <div class="col-12 mt-2">
                <div class="small text-muted">Show Columns</div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="showColumnTimestamp" [(ngModel)]="showColumn.timestamp">
                    <label class="form-check-label" for="showColumnTimestamp">Timestamp</label>
                </div>
                @if (showColumn.timestamp){
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="showColumnHourOnly" [(ngModel)]="showColumn.hourOnly">
                        <label class="form-check-label" for="showColumnHourOnly">Hour-only</label>
                    </div>
                }
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="showColumnModule" [(ngModel)]="showColumn.module">
                    <label class="form-check-label" for="showColumnModule">Module</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="showColumnModuleId" [(ngModel)]="showColumn.moduleId">
                    <label class="form-check-label" for="showColumnModuleId">Module ID</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="showColumnLogMessage" [(ngModel)]="showColumn.log" disabled>
                    <label class="form-check-label" for="showColumnLogMessage">Log</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="showColumnPrincipal" [(ngModel)]="showColumn.principal">
                    <label class="form-check-label" for="showColumnPrincipal">Principal</label>
                </div>
                <div class="form-check form-switch form-check-inline">
                    <input class="form-check-input" type="checkbox" id="pollingToggle" 
                        [(ngModel)]="isPolling" 
                        (change)="togglePolling()">
                    <label class="form-check-label" for="pollLogs">Polling logs</label>
                </div>
            </div>        
        </div>
        @if(logList.length>0){
            <button class="btn btn-sm btn-outline-secondary mt-3 me-2" (click)="loadLogs()">
                <fa-icon [icon]="['fas','sync']"></fa-icon>
                Refresh
            </button>
            <button class="btn btn-sm btn-outline-danger mt-3" (click)="clearLogs()">
                <fa-icon [icon]="['fas','trash']"></fa-icon>
                Clear Logs
            </button>
        }
 
    </div>
</div>

@if(logList.length==0){
    <div class="alert alert-info m-3">
        No logs found. Try adjusting your search criteria or refresh.
    </div>
}@else{
    <div class="table-responsive">   
        <table class="table table-bordered table-dark table-striped">
            <thead>
            <tr>
                @if(showColumn.timestamp){
                <th>timestamp</th>
                }
                @if(showColumn.module){
                <th>module</th>
                }
                @if(showColumn.moduleId){
                <th>mod-Id</th>
                }
                @if (showColumn.log) {
                <th>log</th>
                }
                @if(showColumn.principal){
                <th>principal</th>
                }
            </tr>
            </thead>
            <tbody class="table-group-divider">
            @for (item of logList|filter:params.searchText; track $index) {
                <tr>
                    @if (showColumn.timestamp) {
                        @if (showColumn.hourOnly){
                            <td>{{ item.timestamp |date:'HH:mm:ss' }}</td>
                        }@else {
                            <td>{{ item.timestamp |date:'yyyy-MM-dd HH:mm:ss.SSS' }}</td>
                        }
                    }
                    @if (showColumn.module) {
                    <td>{{ item.module }}</td>
                    }
                    @if (showColumn.moduleId) {
                    <td>{{ item.moduleId }}</td>
                    }
                    @if (showColumn.log) {
                    <td>{{ item.data }}</td>
                    }
                    @if (showColumn.principal) {
                    <td>{{ item.email }}</td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
}

