<div class="position-sticky sticky-top bg-reka" [ngClass]="bgClassName">
    <div style="max-width:720px" class="limit-width centered d-flex justify-content-between">
      <div class="home-top-l p-2">
        <img src="assets/icons/logo-w.svg" width="38">
      </div>
      <div class="home-top-r pe-2">
        <div class="d-flex">
          <a class="top-link p-3" routerLink="/design" routerLinkActive="active">MY APP</a>
          <a class="top-link p-3" routerLink="/repo" routerLinkActive="active">REPO</a>
          <a class="top-link p-3" routerLink="/admin" routerLinkActive="active">ADMIN</a>
          <a class="top-link p-3" routerLink="/devprofile" routerLinkActive="active">
            <fa-icon [icon]="['far', 'user']" [fixedWidth]="true"></fa-icon>
          </a>
        </div>
      </div>
    </div>
</div>

<router-outlet></router-outlet>