:host {
    height: 100%;
}

::ng-deep [sidebar] {
    flex: 1;
}

::ng-deep [content] {
    flex: 1;
    padding: 0px;
}

@media screen and (max-width: 639px) {
    ::ng-deep [sidebar]{
        max-width: none !important;
    }
    .resize-handle{
        display: none;
    }
}


@media screen and (min-width: 640px) {
    :host {
        display: flex;
    }

    ::ng-deep [sidebar] {
        max-width: 240px;
        overflow: auto; /*hidden*/
        border-right:solid 1px #e6e6e6;
    }

    ::ng-deep [content] {
        height: 100%;
        overflow: auto;
    }
    .resize-handle{
        display: block;
    }
}
.resize-handle{
    position: absolute;
    z-index:3;
    width: 8px;
    top:48px;bottom:0;
    left:282px;
    cursor: col-resize;
}
.resize-handle:hover,.resize-handle:active{
    background: #0d6dfd89;
}