<div #editFormForm="ngForm" ngForm>
  <div class="modal-header">
    <h4 class="modal-title">Edit Form</h4>
  </div>
  <div class="tab-simple" justify="center">
    <ul ngbNav #nav="ngbNav" [destroyOnHide]="false" class="nav-tabs justify-content-center">
      <li ngbNavItem>
        <a ngbNavLink>Overview</a>
        <ng-template ngbNavContent>
          <div class="single-pane">
            <div class="form-group mb-3">
              <label class="form-label">Name *</label>
              <input type="text" class="form-control" [(ngModel)]="_editFormData.title"
                placeholder="ie: Registration Form" name="title" required>
            </div>
            <div class="form-group mb-3">
              <label class="form-label">Description</label>
              <textarea class="form-control" [(ngModel)]="_editFormData.description"
                placeholder="ie: Online registration form for the app" name="description"></textarea>
            </div>
            <!-- <div class="row">
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label class="form-label">Access available for</label>
                  <ng-select [items]="accessList()" bindLabel="name" [multiple]="true" bindValue="id"
                    placeholder="Anyone" [(ngModel)]="_editFormData.accessList"
                    name="accessList">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-6"> -->
            <div class="form-group mb-3">
              <label class="form-label">Extend from</label>
              <select class="form-select" name="extended" [compareWith]="compareByIdFn"
                [(ngModel)]="_editFormData.x.extended">
                <option [ngValue]="null"> * No Form </option>
                @for (form of formListRoot(); track form.id) {
                <option [value]="form.id">{{form.title}}
                </option>
                }
              </select>
            </div>
            <div class="form-group mb-3">
              <label class="form-label">Admin</label>
              <select class="form-select" name="admin" [compareWith]="compareByIdFn" [(ngModel)]="_editFormData.admin">
                <option [ngValue]="null"> * No Admin </option>
                @for (access of accessList(); track access.id) {
                <option [ngValue]="access">{{access.name}}
                </option>
                }
              </select>
            </div>
            <!-- </div>
            </div> -->
            <!-- NEW EASY ACCESS CONTROL -->
            <div class="form-group">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" [(ngModel)]="_editFormData.x.restrictAccess"
                  name="restrictAccess" id="restrictAccess">
                <label class="form-check-label" for="restrictAccess">Access restriction</label>
              </div>
            </div>
            @if (_editFormData.x?.restrictAccess){
            <div class="ms-4">
              <!-- <div>Access Control</div> -->
              <div class="form-group mb-1">
                <label class="form-label">Allow form access by group</label>
                <ng-select [items]="accessList()" bindLabel="name" [multiple]="true" bindValue="id" placeholder="Anyone"
                  [(ngModel)]="_editFormData.accessList" name="accessList">
                </ng-select>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" [(ngModel)]="_editFormData.x.accessByUser"
                    name="accessUserOnly" id="accessUserOnly">
                  <label class="form-check-label" for="accessUserOnly">Allow entry owner/user access</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" [(ngModel)]="_editFormData.x.accessByApprover"
                    name="accessByApprover" id="accessByApprover">
                  <label class="form-check-label" for="accessByApprover">Allow entry approver access</label>
                </div>
              </div>
              <div class="form-group">
                <label class="form-check-label" for="accessByCond">Allow entry access by condition</label>
                <app-cm name="accessByCond" lang="javascript" [(ngModel)]="_editFormData.x.accessByCond"
                  [extraAutoComplete]="extraAutoCompleteJs()" placeholder="$user$.attributes.staff" subType="active"
                  [linenumber]="true">
                </app-cm>
              </div>
            </div>
            }
            <!-- END NEW EASY ACCESS CONTROL -->
          </div>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Options</a>
        <ng-template ngbNavContent>
          <div class="single-pane fix-gutter">
            <div class="row">
              <div class="col-sm-7">
                <div class="form-group mb-3">
                  <label class="form-label">Nav Type *</label>
                  <div>
                    <div class="">
                      <input class="btn-check" type="radio" value="simple" id="nav-simple" name="nav-simple"
                        [(ngModel)]="_editFormData.nav" required>
                      <label for="nav-simple" class="btn btn-outline-secondary me-1 mb-1">
                        Simple</label>
                      <input class="btn-check" type="radio" value="tabs" id="nav-tabs" name="nav-tabs"
                        [(ngModel)]="_editFormData.nav" required>
                      <label for="nav-tabs" class="btn btn-outline-secondary me-1 mb-1">
                        Tabbed</label>
                      <input class="btn-check" type="radio" value="pills" id="nav-pills" name="nav-pills"
                        [(ngModel)]="_editFormData.nav" required>
                      <label for="nav-pills" class="btn btn-outline-secondary me-1 mb-1">
                        Pills</label>
                      <input class="btn-check" type="radio" value="underline" id="nav-underline" name="nav-underline"
                        [(ngModel)]="_editFormData.nav" required>
                      <label for="nav-underline" class="btn btn-outline-secondary me-1 mb-1">
                        Underline</label>
                      <input class="btn-check" type="radio" value="accordions" id="nav-acc" name="nav-acc"
                        [(ngModel)]="_editFormData.nav" required>
                      <label for="nav-acc" class="btn btn-outline-secondary me-1 mb-1">
                        Accordion</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-group mb-3">
                  <label class="form-label">Align</label>
                  <div>
                    <div class="">
                      <input type="radio" class="btn-check" value="flex-start" id="align-flex-start"
                        name="align-flex-start" [(ngModel)]="_editFormData.align">
                      <label for="align-flex-start" class="btn btn-outline-secondary me-1 mb-1">
                        <fa-icon [icon]="['fas','align-left']" [fixedWidth]="true">
                        </fa-icon>
                      </label>
                      <input type="radio" class="btn-check" value="center" id="align-center" name="align-center"
                        [(ngModel)]="_editFormData.align">
                      <label for="align-center" class="btn btn-outline-secondary me-1 mb-1">
                        <fa-icon [icon]="['fas','align-center']" [fixedWidth]="true">
                        </fa-icon>
                      </label>
                      <input type="radio" class="btn-check" value="flex-end" id="align-flex-end" name="align-flex-end"
                        [(ngModel)]="_editFormData.align">
                      <label for="align-flex-end" class="btn btn-outline-secondary me-1 mb-1">
                        <fa-icon [icon]="['fas','align-right']" [fixedWidth]="true">
                        </fa-icon>
                      </label>
                      <input type="radio" class="btn-check" value="space-between" id="align-space-between"
                        name="align-space-between" [(ngModel)]="_editFormData.align">
                      <label for="align-space-between" class="btn btn-outline-secondary me-1 mb-1">
                        <fa-icon [icon]="['fas','align-justify']" [fixedWidth]="true">
                        </fa-icon>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="form-check form-switch mt-1">
                <input type="checkbox" class="form-check-input" [(ngModel)]="_editFormData.single" name="single"
                  id="single">
                <label class="form-check-label" for="single">Single data</label>

              </div>
              @if (_editFormData.single) {

                <div class="ms-4-5">

                  <div class="form-group mb-1">
                    <label class="form-label small mb-2">Qualifier *</label>
                    <div class="form-control overflow-hidden p-0">
                      <app-cm name="singleQ" lang="javascript"
                        [(ngModel)]="_editFormData.singleQ" [hideControl]="true" [linenumber]="true" [skipCheck]="true"
                        placeholder="ie: {'$_.email':$user$.email}" [extraAutoComplete]="extraAutoCompleteJs()"
                        subType="passive">
                      </app-cm>
                    </div>
                  </div>

                  <div class="form-check form-control-sm mt-1">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="_editFormData.x.enableQFilter"
                      name="saveAndStay" id="enableQFilter">
                    <label class="form-check-label" for="enableQFilter">Enable advanced query builder</label>
                  </div>
                  @if(_editFormData.x?.enableQFilter){
                  <div class="form-group mb-3">
                    <label class="form-label small mb-2">Query Builder</label>
                    <div class="form-control overflow-hidden p-0">
                      <app-cm name="f" lang="javascript" [(ngModel)]="_editFormData.x.qFilter" hideControl="true" [skipCheck]="true"
                        [extraAutoComplete]="extraAutoCompleteJs()" subType="passive" [linenumber]="true">
                      </app-cm>
                    </div>
                  </div>
                  }
                </div>
              }
              @if (['tabs','pills','underline','accordions'].includes(_editFormData.nav)) {
              <div class="form-check form-switch mt-1">
                <input type="checkbox" class="form-check-input" [(ngModel)]="_editFormData.x.progression"
                  name="progression" id="progression">
                <label class="form-check-label" for="progression">Progressive/Muti-step form</label>
              </div>
              }
              @if (['tabs','pills','underline','accordions'].includes(_editFormData.nav) &&
              _editFormData.x?.progression) {
              <div class="form-check mt-1 ms-4">
                <input type="checkbox" class="form-check-input" [(ngModel)]="_editFormData.x.validateProgress"
                  name="validateProgress" id="validateProgress">
                <label class="form-check-label" for="validateProgress">Validate page before progress next</label>
              </div>
              }
              @if (['tabs','pills','underline','accordions'].includes(_editFormData.nav) &&
              _editFormData.x?.progression) {
              <div class="form-check mt-1 ms-4">
                <input type="checkbox" class="form-check-input" [(ngModel)]="_editFormData.x.noPageSkip"
                  name="noPageSkip" id="noPageSkip">
                <label class="form-check-label" for="noPageSkip">Prevent page jumping/skipping</label>
              </div>
              }
              <div class="form-check form-switch mt-1">
                <input type="checkbox" class="form-check-input" [(ngModel)]="_editFormData.validateSave"
                  name="validateSave" id="validateSave">
                <label class="form-check-label" for="validateSave">Validate Save</label>
              </div>
              <div class="form-check form-switch mt-1">
                <input type="checkbox" class="form-check-input" [(ngModel)]="_editFormData.x.skipValidate"
                  name="skipValidate" id="skipValidate">
                <label class="form-check-label" for="skipValidate">Disable server-side entry validation
                  @if (_editFormData.x?.skipValidate){
                  <sup class="text-danger blink_me"><fa-icon [icon]="['fas','exclamation-triangle']"
                      [fixedWidth]="true"></fa-icon></sup>
                  }
                </label>
              </div>
              <div class="form-check form-switch mt-1">
                <input type="checkbox" class="form-check-input" [(ngModel)]="_editFormData.canSave" name="canSave"
                  id="canSave">
                <label class="form-check-label" for="canSave">Can Save</label>
              </div>
              @if (_editFormData.canSave) {
              <div class="ms-4-5">
                <div class="form-check mt-1">
                  <input type="checkbox" class="form-check-input" [(ngModel)]="_editFormData.x.saveAndStay"
                    name="saveAndStay" id="saveAndStay">
                  <label class="form-check-label" for="saveAndStay">Don't navigate to view after
                    save</label>
                </div>
                <div class="input-group input-group-sm mb-2">
                  <label class="input-group-text" for="saveLbl">Custom save button label</label>
                  <input class="form-control" name="saveLbl" type="text" placeholder="ie: Check-in"
                    [(ngModel)]="_editFormData.x.saveLbl">
                </div>
              </div>
              }
              @if (_editFormData.tiers && _editFormData.tiers.length>0) {
              <div class="form-check form-switch mt-1">
                <input type="checkbox" class="form-check-input" [(ngModel)]="_editFormData.canSubmit" name="canSubmit"
                  id="canSubmit">
                <label class="form-check-label" for="canSubmit">Show Submit button</label>
              </div>
              @if (_editFormData.canSubmit) {
              <div class="form-check mt-1 ms-4">
                <input type="checkbox" class="form-check-input" [(ngModel)]="_editFormData.x.submitAndStay"
                  name="submitAndStay" id="submitAndStay">
                <label class="form-check-label" for="submitAndStay">Don't navigate to view after
                  submit</label>
              </div>
              }
              }
              <div class="form-check form-switch mt-1">
                <input type="checkbox" class="form-check-input" [(ngModel)]="_editFormData.canRetract" name="canRetract"
                  id="canRetract">
                <label class="form-check-label" for="canRetract">Can Retract</label>
              </div>
              <div class="form-check form-switch mt-1">
                <input type="checkbox" class="form-check-input" [(ngModel)]="_editFormData.canEdit" name="canEdit"
                  id="canEdit">
                <label class="form-check-label" for="canEdit">Can Edit</label>
              </div>
              <div class="form-check form-switch mt-1">
                <input class="form-check-input" type="checkbox" id="autoSync" [(ngModel)]="_editFormData.x.autoSync"
                  name="autoSync">
                <label class="form-check-label" for="autoSync">Auto-sync embedded data (Model Picker) on update
                  entry</label>
              </div>
              <div class="form-check form-switch mt-1">
                <input type="checkbox" class="form-check-input" [(ngModel)]="_editFormData.hideStatus" name="hideStatus"
                  id="hideStatus">
                <label class="form-check-label" for="hideStatus">Hide Approval Status in Form &amp;
                  View</label>
              </div>
              <div class="form-check form-switch mt-1">
                <input type="checkbox" class="form-check-input" [(ngModel)]="_editFormData.x.showEntryId"
                  name="showEntryId" id="showEntryId">
                <label class="form-check-label" for="showEntryId">Show Entry ID in Form &amp;
                  View (top-right corner)</label>
              </div>
              <div class="form-check form-switch mt-1">
                <input type="checkbox" class="form-check-input" [(ngModel)]="_editFormData.x.hideTrail" name="hideTrail"
                  id="hideTrail">
                <label class="form-check-label" for="hideTrail">Hide Audit Trail ('View Trail'
                  button) in View</label>
              </div>
              <!-- <div class="form-group mb-3 ms-3">
                <label class="form-label">Audit Trail Pre-requisite</label>
                <div class="mx-n2">
                  <app-cm name="auditTrailPre" lang="javascript" [(ngModel)]="_editFormData.x.auditTrailPre"
                    [extraAutoComplete]="extraAutoCompleteJs()" subType="active" [linenumber]="true">
                  </app-cm>
                </div>
              </div> -->
              @if (['tabs','pills','underline','accordions'].indexOf(_editFormData.nav)>-1) {
              <div class="form-check form-switch mt-1">
                <input type="checkbox" class="form-check-input" [(ngModel)]="_editFormData.showIndex" name="showIndex"
                  id="showIndex">
                <label class="form-check-label" for="showIndex">Show Index (in Tab or
                  Accordion)</label>
              </div>
              }
              <div class="form-check form-switch mt-1">
                <input type="checkbox" class="form-check-input" [(ngModel)]="_editFormData.publicEp" name="publicEp"
                  id="publicEp">
                <label class="form-check-label" for="publicEp">
                  Public access to entry data via Id or Params
                </label>
              </div>
              <div class="form-check form-switch mt-1">
                <input type="checkbox" class="form-check-input" [(ngModel)]="_editFormData.x.askNavigate"
                  name="askNavigate" id="askNavigate">
                <label class="form-check-label" for="askNavigate">
                  Ask before navigate if there are unsaved data
                </label>
              </div>
              <div class="form-check form-switch mt-1">
                <input class="form-check-input" type="checkbox" id="wide" [(ngModel)]="_editFormData.x.wide"
                  name="wide">
                <label class="form-check-label" for="wide">Full width form</label>
              </div>
              <div class="form-check form-switch mt-1">
                <input class="form-check-input" type="checkbox" id="wallet" [(ngModel)]="_editFormData.x.wallet"
                  name="wallet">
                <label class="form-check-label" for="wallet">Store data in the smart contract</label>

                
              @if(_editFormData.x?.wallet){

                <div class="form-group mb-2 mt-2">
                  <label class="form-label">Register data on *</label>
                  <div>
                    <div class="btn-group-sm" role="group">
                      <input type="radio" name="walletOn" [(ngModel)]="_editFormData.x.walletOn" value="save" class="btn-check"
                        id="walletOnSave" required>
                      <label class="btn btn-outline-secondary me-1 mb-1" for="walletOnSave">On Save</label>
                      <input type="radio" name="walletOn" [(ngModel)]="_editFormData.x.walletOn" value="submit" class="btn-check"
                        id="walletOnSubmit" required>
                      <label class="btn btn-outline-secondary me-1 mb-1" for="walletOnSubmit">On Submit</label>
                    </div>
                  </div>
                </div>


                <div class="row mb-2">
                  <div class="col-sm-6">
                    <!-- <div class="form-group"> -->
                      <div class="input-group input-group-sm mb-1">
                        <span class="input-group-text">Wallet *</span>
                        <!-- <label class="form-label" for="walletId">Select Wallet</label> -->
                        <select class="form-select form-select-sm" name="walletId" [compareWith]="compareByIdFn"
                          [(ngModel)]="_editFormData.x.walletId" required>
                          <option [ngValue]="null"> * No wallet selected </option>
                          @for (item of walletList(); track item.id) {
                          <option [value]="item?.id">{{item?.name}}
                          </option>
                          }
                        </select>
                      </div>
                    <!-- </div> -->
                  </div>
                  <div class="col-sm-6">
                    <!-- <div class="form-group"> -->
                      <div class="input-group input-group-sm mb-1">
                        <span class="input-group-text">Function *</span>
                        <select class="form-select form-select-sm" name="walletFn"
                          (ngModelChange)="onWalletFunctionSelect($event)"
                          [(ngModel)]="_editFormData.x.walletFn" required>
                          <option [ngValue]="null"> * No function </option>
                          @for (item of getTxFn(_editFormData.x.walletId); track $index) {
                          <option [ngValue]="item?.name" >{{item?.name}}
                          </option>
                          }
                        </select>
                      </div>
                    <!-- </div> -->
                  </div>
                </div>
                
                <div class="form-group mb-3">
                  <label class="form-label">Template for data *</label>
                  <div class="mx-n2">
                    <app-cm name="walletTextTpl" lang="html" [(ngModel)]="_editFormData.x.walletTextTpl" [hideControl]="true"
                      [extraAutoComplete]="extraAutoCompleteHtml()" subType="active" [linenumber]="true" required>
                    </app-cm>
                  </div>
                </div>
                

                <!-- <div class="input-group input-group-sm mb-2 mt-2">
                <span class="input-group-text">Smart Contract</span>
                <select class="form-select" name="walletFnOnInit"
                  (ngModelChange)="onWalletFunctionSelect('onInit',$event)"
                  [(ngModel)]="_editFormData.x.walletFnOnInit">
                  <option [ngValue]="null"> * No function </option>
                  @for (item of walletMap()[_editFormData.x.walletId]?.contract?.abiSummary?.functions; track $index) {
                  <option [ngValue]="item?.name" >{{item?.name}}
                  </option>
                  }
                </select>
              </div> -->


                <!-- <div class="form-check form-switch mt-1">
                <input class="form-check-input" type="checkbox" id="walletOnSave" [(ngModel)]="_editFormData.x.walletOnSave"
                  name="walletOnSave">
                <label class="form-check-label" for="walletOnSave">On Save</label>
                </div>
                <div class="form-check form-switch mt-1">
                <input class="form-check-input" type="checkbox" id="walletOnSubmit" [(ngModel)]="_editFormData.x.walletOnSubmit"
                  name="walletOnSubmit">
                <label class="form-check-label" for="walletOnSubmit">On Submit</label>
                </div> -->


                <!-- <div class="form-group mb-3">

                  @for (mode of ['save','submit']; track mode) {
                  
                      <div class="input-group input-group-sm mb-1">
                        <div class="input-group-text">
                          <input class="form-check-input mt-0"  type="checkbox" value="summarize" aria-label="Text summarization"
                            name="rtxtgenMode" [(ngModel)]="_editFormData.x.rtxtgenMode">
                        </div>
                        <span class="input-group-text">On Save</span>
                        <select class="form-select" name="walletFn" [compareWith]="compareByIdFn"
                          [(ngModel)]="_editFormData.x.walletFn" required>
                          <option [ngValue]="null"> * No function selected </option>
                          @for (item of walletMap()[_editFormData.x.walletId]?.contract?.abiSummary?.functions; track $index) {
                          <option [value]="item?.name">{{item?.name}}
                          </option>
                          }
                        </select>
                      </div>
                  }

                </div> -->
                      



                <!-- <div class="form-group mb-3 mt-1">
                  <select class="form-select" name="walletFn" [compareWith]="compareByIdFn"
                    [(ngModel)]="_editFormData.x.walletFn" required>
                    <option [ngValue]="null"> * No function selected </option>
                    @for (item of walletMap()[_editFormData.x.walletId]?.contract?.abiSummary?.functions; track $index) {
                    <option [value]="item?.name">{{item?.name}}
                    </option>
                    }
                  </select>
                </div> -->

                
                
              }
              </div>
            </div>
            <div class="form-group mb-3">
              <label class="form-label">Previous Form</label>
              <select class="form-select" name="prev" [compareWith]="compareByIdFn" [(ngModel)]="_editFormData.prev">
                <option [ngValue]="null" style="color:gray">No Previous Form</option>
                @for (item of exceptCurForm(_editFormData); track item.id) {
                <option [ngValue]="item">
                  {{item.title}}</option>
                }
              </select>
              @if (_editFormData.prev) {
              <div class="form-check mt-2">
                <input type="checkbox" class="form-check-input" [(ngModel)]="_editFormData.x.hidePrev" name="hidePrev"
                  id="hidePrev">
                <label class="form-check-label" for="hidePrev">Hide Previous form</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" [(ngModel)]="_editFormData.x.prevRow" name="prevRow"
                  id="prevRow">
                <label class="form-check-label" for="prevRow">Display Previous form side-by-side</label>
              </div>
              }
            </div>
            <div class="form-group mb-3">
              <label class="form-label">Entry user specified as (must return email to be specified as
                user)</label>
              <input type="text" class="form-control" [(ngModel)]="_editFormData.x.userKey"
                placeholder="default: {{'{'}}{{'{'}}$user$.email{{'}'}}{{'}'}}" name="userKey">
            </div>
            <div class="row">
              <div class="col-sm-6 row">
                <div class="col">
                  <div class="form-group mb-3">
                    <label class="form-label">Start Date</label>
                    <button type="button" class="float-end btn btn-xs btn-secondary"
                      (click)="_editFormData.startDate = undefined">Clear</button>
                    <input class="form-control" type="text" name="startDate" [(ngModel)]="_editFormData.startDate"
                      placeholder="Choose start date" (click)="d1.toggle()" ngbDatepicker #d1="ngbDatepicker">
                  </div>
                </div>
                <div class="col-auto pt-4">
                  <ngb-timepicker name="startDate-time" [(ngModel)]="_editFormData.startDate">
                  </ngb-timepicker>
                </div>
              </div>
              <div class="col-sm-6 row">
                <div class="col">
                  <div class="form-group mb-3">
                    <label class="form-label">End Date </label>
                    <button type="button" class="float-end btn btn-xs btn-secondary"
                      (click)="_editFormData.endDate = undefined">Clear</button>
                    <input class="form-control" type="text" name="endDate" [(ngModel)]="_editFormData.endDate"
                      placeholder="Choose end date" (click)="d2.toggle()" ngbDatepicker #d2="ngbDatepicker">
                  </div>
                </div>
                <div class="col-auto pt-4">
                  <ngb-timepicker name="endDate-time" [(ngModel)]="_editFormData.endDate">
                  </ngb-timepicker>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group mb-3">
                  <label class="form-label">Code Formatter</label>
                  <input type="text" class="form-control" [(ngModel)]="_editFormData.codeFormat" name="codeFormat"
                    placeholder="ie: %06d ">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group mb-3">
                  <label class="form-label">Counter</label>
                  <input type="number" class="form-control" [(ngModel)]="_editFormData.counter" name="counter"
                    placeholder="ie: 1">
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="addMailer">New Entry Mailer</label>
              <div class="d-flex">
                <ng-select class="flex-grow-1" [items]="mailerList()" bindLabel="name" [multiple]="true" bindValue="id"
                  placeholder="No mailer" [(ngModel)]="_editFormData.addMailer" name="addMailer">
                </ng-select>
                <button type="button" class="btn btn-secondary btn-sm ms-1"
                  (click)="editMailer(editMailerTpl,{enabled:1},_editFormData,'addMailer')">New&nbsp;Mailer</button>
              </div>
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="updateMailer">Entry Update Mailer</label>
              <div class="d-flex">
                <ng-select class="flex-grow-1" [items]="mailerList()" bindLabel="name" [multiple]="true" bindValue="id"
                  placeholder="No mailer" [(ngModel)]="_editFormData.updateMailer" name="updateMailer">
                </ng-select>
                <button type="button" class="btn btn-secondary btn-sm ms-1"
                  (click)="editMailer(editMailerTpl,{enabled:1},_editFormData,'updateMailer')">New&nbsp;Mailer</button>
              </div>

            </div>
            @if (_editFormData.canRetract) {
            <div class="form-group mb-3">
              <label class="form-label" for="retractMailer">Retract Mailer</label>
              <div class="d-flex">
                <ng-select class="flex-grow-1" [items]="mailerList()" bindLabel="name" [multiple]="true" bindValue="id"
                  placeholder="No mailer" [(ngModel)]="_editFormData.retractMailer" name="retractMailer">
                </ng-select>
                <button type="button" class="btn btn-secondary btn-sm ms-1"
                  (click)="editMailer(editMailerTpl,{enabled:1},_editFormData,'retractMailer')">New&nbsp;Mailer</button>
              </div>
            </div>
            }
            <div class="form-group mb-3">
              <label class="form-label">List of facets (separated by comma)</label>
              <input type="text" class="form-control" [(ngModel)]="_editFormData.x.facet" name="facet"
                placeholder="ie: edit,view,admin-edit">
            </div>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Lifecycle</a>
        <ng-template ngbNavContent>
          <div class="single-pane fix-gutter">
            <div class="form-group mb-3">
              <label class="form-label">Init Function</label>
              <div class="mx-n2">
                <app-cm name="f" lang="javascript" [(ngModel)]="_editFormData.f"
                  [extraAutoComplete]="extraAutoCompleteJs()" subType="active" [linenumber]="true">
                </app-cm>
              </div>
              <!-- <div class="input-group input-group-sm mb-2 mt-2">
                <span class="input-group-text">Smart Contract</span>
                <select class="form-select" name="walletFnOnInit"
                  (ngModelChange)="onWalletFunctionSelect('onInit',$event)"
                  [(ngModel)]="_editFormData.x.walletFnOnInit">
                  <option [ngValue]="null"> * No function </option>
                  @for (item of walletMap()[_editFormData.x.walletId]?.contract?.abiSummary?.functions; track $index) {
                  <option [ngValue]="item?.name" >{{item?.name}}
                  </option>
                  }
                </select>
              </div>
              @if(fnObj?.['onInit']?.inputs && fnObj?.['onInit']?.inputs.length>0){
                <app-cm name="walletFnOnInitParam" lang="javascript" [(ngModel)]="_editFormData.x.walletFnOnInitParam" [hideControl]="true"
                  [skipCheck]="true"
                  [extraAutoComplete]="extraAutoCompleteJs()" subType="active" [linenumber]="true">
                </app-cm>
              } -->
            </div>
            <div class="form-group mb-3">
              <label class="form-label">On Save</label>
              <div class="mx-n2">
                <app-cm name="onSave" lang="javascript" [extraAutoComplete]="extraAutoCompleteJs()" subType="active"
                  [(ngModel)]="_editFormData.onSave" [linenumber]="true">
                </app-cm>
              </div>
              
              <!-- <div class="input-group input-group-sm mb-2 mt-2">
                <span class="input-group-text">Smart Contract</span>
                <select class="form-select" name="walletFnOnSave"
                  (ngModelChange)="onWalletFunctionSelect('onSave',$event)"
                  [(ngModel)]="_editFormData.x.walletFnOnSave">
                  <option [ngValue]="null"> * No function </option>
                  @for (item of walletMap()[_editFormData.x.walletId]?.contract?.abiSummary?.functions; track $index) {
                  <option [ngValue]="item?.name" >{{item?.name}}
                  </option>
                  }
                </select>
              </div>
              @if(fnObj?.['onSave']?.inputs && fnObj?.['onSave']?.inputs.length>0){
                <app-cm name="walletFnOnSaveParam" lang="javascript" [(ngModel)]="_editFormData.x.walletFnOnSaveParam" [hideControl]="true"
                  [skipCheck]="true"
                  [extraAutoComplete]="extraAutoCompleteJs()" subType="active" [linenumber]="true">
                </app-cm>
              } -->
            </div>
            <div class="form-group mb-3">
              <label class="form-label">On Submit</label>
              <div class="mx-n2">
                <app-cm name="onSubmit" lang="javascript" [extraAutoComplete]="extraAutoCompleteJs()" subType="active"
                  [(ngModel)]="_editFormData.onSubmit" [linenumber]="true">
                </app-cm>
              </div>
              <!-- <div class="input-group input-group-sm mb-2 mt-2">
                <span class="input-group-text">Smart Contract</span>
                <select class="form-select" name="walletFnOnSubmit"
                  (ngModelChange)="onWalletFunctionSelect('onSubmit',$event)"
                  [(ngModel)]="_editFormData.x.walletFnOnSubmit">
                  <option [ngValue]="null"> * No function </option>
                  @for (item of walletMap()[_editFormData.x.walletId]?.contract?.abiSummary?.functions; track $index) {
                  <option [ngValue]="item?.name" >{{item?.name}}
                  </option>
                  }
                </select>
              </div>
              @if(fnObj?.['onSubmit']?.inputs && fnObj?.['onSubmit']?.inputs.length>0){
                <app-cm name="walletFnOnSubmitParam" lang="javascript" [(ngModel)]="_editFormData.x.walletFnOnSubmitParam" [hideControl]="true"
                  [skipCheck]="true"
                  [extraAutoComplete]="extraAutoCompleteJs()" subType="active" [linenumber]="true">
                </app-cm>
              } -->
            </div>
            <div class="form-group mb-3">
              <label class="form-label">On View</label>
              <div class="mx-n2">
                <app-cm name="onView" lang="javascript" [extraAutoComplete]="extraAutoCompleteJs()" subType="active"
                  [(ngModel)]="_editFormData.onView" [linenumber]="true">
                </app-cm>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
  <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-round" (click)="dismiss()()">Close</button>
    <button type="button" class="btn btn-round btn-primary" [disabled]="editFormForm.invalid"
      (click)="done(_editFormData)">
      <fa-icon [icon]="['fas','plus']" [fixedWidth]="true"></fa-icon>
      Save Form
    </button>
  </div>
</div>

<ng-template #editMailerTpl let-c="close" let-d="dismiss">
  @defer(prefetch on idle){
  <app-edit-mailer [editMailerData]="editMailerData" [selectedForm]="_editFormData" [formList]="formList()"
    [dismiss]="d" [close]="c"></app-edit-mailer>
  }@loading {
  <div class="text-center m-5">
    <div class="spinner-grow text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  }
</ng-template>

<!-- <ng-template #editGroupTpl let-c="close" let-d="dismiss">
  @defer(prefetch on idle){
    <app-edit-role [editGroupData]="editGroupData" [lookupList]="lookupList" [dismiss]="d" [close]="c"></app-edit-role>
  }@loading {
    <div class="text-center m-5">
      <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  }
</ng-template> -->