.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background: var(--bs-body-bg, #fff);
  color: var(--bs-body-color, #212529);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.border-3 {
  border-width: 3px;
}

.group-hidden {
  opacity: .2;
  pointer-events: none;
}

.active-outline {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .7) !important;
  color: rgba(0, 123, 255) !important;
}

.s-icon {
  width: 100px !important;
}