<div #cloneFormForm="ngForm" ngForm>
  <div class="modal-header">
    <h4 class="modal-title">Duplicate Form</h4>
  </div>
  <div class="modal-body">
    <p>You can duplicate from an existing form</p>
    <ul class="small">
      <li>It will not auto import Lookup (if import from other App)</li>
      <li>It will not auto import Group (if import from other App)</li>
      <li>It will not auto import Bucket (if import from other App)</li>
      <li>This will not import Process Tier</li>
    </ul>
    <p>It is important to verify the duplicated form and ensure lookup, bucket, etc is correctly set.</p>
    <div class="form">
      <div class="form-group mb-3">
        <label class="form-label">Select App</label>
        <select class="form-select" name="appId" (change)="loadCloneFormList(_cloneFormData.appId)"
          [(ngModel)]="_cloneFormData.appId">
          @for (app of cloneAppList(); track app.id) {
            <option [ngValue]="app.id">{{app.title}}</option>
          }
        </select>
      </div>
      @if (_cloneFormData.appId) {
        <div class="form-group mb-3">
          <label class="form-label">Select Form *</label>
          <select class="form-select" name="formId" [(ngModel)]="cloneFormData.formId"
            required>
            @for (form of cloneFormList; track form.id) {
              <option [ngValue]="form.id">{{form.title}} [{{form.id}}]
              </option>
            }
          </select>
        </div>
      }
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-round btn-secondary" (click)="dismiss()()">Close</button>
    <button type="button" class="btn btn-round btn-primary" (click)="done(_cloneFormData)"
      [disabled]="cloneFormForm.invalid">
      Start Duplicate Form
    </button>
  </div>
</div>