<div #cloneDashboardForm="ngForm" ngForm>
  <div class="modal-header">
    <h4 class="modal-title">Duplicate Dashboard</h4>
  </div>
  <div class="modal-body">
    <p>You can duplicate from an existing dashboard</p>
    <p>It is important to verify the duplicated dashboard is correctly set.</p>
    <div class="form">
      <div class="form-group mb-3">
        <label class="form-label">Select App</label>
        <select class="form-select" name="appId" (change)="loadCloneDashboardList(_cloneDashboardData.appId)"
          [(ngModel)]="_cloneDashboardData.appId">
          @for (app of cloneAppList(); track app.id) {
            <option [ngValue]="app.id">{{app.title}}</option>
          }
        </select>
      </div>
      @if (_cloneDashboardData.appId) {
        <div class="form-group mb-3">
          <label class="form-label">Select Dashboard *</label>
          <select class="form-select" name="dashboardId" [(ngModel)]="_cloneDashboardData.dashboardId"
            required>
            @for (dashboard of cloneDashboardList(); track dashboard.id) {
              <option [ngValue]="dashboard.id">{{dashboard.title}} [{{dashboard.id}}]
              </option>
            }
          </select>
        </div>
      }
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-round btn-secondary" (click)="dismiss()()">Close</button>
    <button type="button" class="btn btn-round btn-primary" (click)="done(_cloneDashboardData)"
      [disabled]="cloneDashboardForm.invalid">
      Start Duplicate Dashboard
    </button>
  </div>
</div>